coc.py==2.2.1
discord.py==2.0.1
Flask==2.2.2
google-api-python-client==2.65.0
nest_asyncio==1.5.6
Pillow==9.2.0
requests
git+https://github.com/top-gg/python-sdk.git  # topggpy==2.0.0, not yet available with pip install topggpy == 2.0.0
