coc.py==3.6.0
discord.py==2.3.2
Flask==3.0.3
nest_asyncio==1.6.0
Pillow==10.3.0
waitress==3.0.0
requests==2.32.3
git+https://github.com/top-gg/python-sdk.git  # topggpy==2.0.0, not yet available with pip install topggpy==2.0.0
