pip==25.0.1
setuptools==75.8.0

coc.py==3.9.0
discord.py==2.4.0
Flask==3.1.0
Pillow==11.0.0
waitress==3.0.1
requests==2.32.3
nest_asyncio==1.6.0
git+https://github.com/top-gg/python-sdk.git  # topggpy==2.0.0, not yet available with pip install topggpy==2.0.0
